<h1>Merci de votre inscription</h1>

<p>
   Cliquez sur le lien ci-dessous afin de valider votre inscription <br><br>
    <a href="{{ signedUrl }}">CONFIRMER</a>.
    Expiration du lien dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci de votre confiance ! 
</p>
