{% extends 'front_layout.twig' %}

{% block title %}Edit Support{% endblock %}

{% block content %}
    <h1>Edit Support</h1>

    {{ include('support/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('support_index') }}" class="btn btn-light">Back to list</a>

    {{ include('support/_delete_form.html.twig') }}
{% endblock %}
