$primary: rgb(98, 25, 192);

@import "node_modules/bootstrap/scss/bootstrap";

@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";

@import "node_modules/tinymce/skins/ui/oxide/skin";
@import "node_modules/tinymce/skins/content/default/content";
@import "node_modules/tinymce/skins/ui/oxide/content";

.titre{
    margin:100px;
    text-align:center;
    background-color:blue;
    color:red;
}

.menu-register > .nav-link {
    font-weight: bold;
    background-color: $primary;
    color: white !important;
}

.menu-email > .nav-link {
    font-weight: italic;
    color: $primary !important;
}