{% extends "front_layout.twig" %}

{% block content %}
    <h1 style="margin-top:20px;margin-bottom:20px"> <b>Modifier un jeu</b></h1>
    <div style="width:35%">
        {% embed "decorator/_form.html.twig" %}
        {% endembed %}
    </div>
{% endblock %}