{% extends "front_layout.twig" %}

{% block content %}
<h1 style="margin-top:20px;margin-bottom:20px"> <b>Quel est ton nouveau jeu ?</b></h1>
<div>
    {% embed "decorator/_form.html.twig" %}
    {% endembed %}
</div>
{% endblock %}